img{
    width: 200px;
}
h1,h2{
    text-align: center;
    margin-bottom: auto;
    text-decoration-color: blue;
    
}
h1{
    text-decoration-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(129, 211, 23);
}
body{
    background-color: bisque;
}
h2{
    color: rgb(157, 83, 226);
}